body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  margin: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #E5E7EB;
  height: 72px;
  font-weight: bold;
  align-items: center;
  font-size: 32px;

}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}


.one {
  display: flex;
  background: #E5E7EB;
  height: 250 px;

}

.two {
  display: flex;
  background: #ADD8E6;
}

.four {
  display: flex;
  background: #6186D8;
}
