body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system;
  border: 0px;
  margin: 0px;
}

.container {
  background-color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  font-weight: bold;
  align-items: center;
  font-size: 32px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}


.one {
  display: flex;
  flex-direction: row;
  background: white;
  height: 250 px;

}

.one-left {
  display: flex;
  flex-direction: column;
  
}

.two {
  display: flex;
  background-image: linear-gradient(#fbcd50, white);
}

.four {
  display: flex;
  background: #fbcd50;
}

footer {
  background-color: #b4efe7;
}
